<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remove Ads</key>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>title</key>
		<string>Remove Adds</string>
		<key>thumbnailImage</key>
		<string>missile.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Buy Missiles</key>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>title</key>
		<string>5000 Missiles</string>
		<key>thumbnailImage</key>
		<string>missile.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Smoke High</key>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>spark.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Smoke Medium</key>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>spark.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Smoke Low</key>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>spark.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Airplane High</key>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>title</key>
		<string>F22</string>
		<key>thumbnailImage</key>
		<string>PLANE 1 N.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Airplane Medium</key>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>title</key>
		<string>Sptifire</string>
		<key>thumbnailImage</key>
		<string>PLANE 2 N.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>Airplane Low</key>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>title</key>
		<string>Albatros</string>
		<key>thumbnailImage</key>
		<string>plane_N.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<true/>
	</dict>
</dict>
</plist>
