<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>isUpdated</key>
		<false/>
		<key>value</key>
		<integer>200</integer>
		<key>ID</key>
		<string>com.istratehoratiu.missileevasion.missile1</string>
		<key>title</key>
		<string></string>
		<key>thumbnailImage</key>
		<string>missile.png</string>
		<key>price</key>
		<string>0</string>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>1</key>
	<dict>
		<key>isUpdated</key>
		<false/>
		<key>value</key>
		<integer>500</integer>
		<key>ID</key>
		<string>com.istratehoratiu.missileevasion.missile2</string>
		<key>title</key>
		<string></string>
		<key>thumbnailImage</key>
		<string>missile2.png</string>
		<key>price</key>
		<string>0</string>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>isUpdated</key>
		<false/>
		<key>value</key>
		<integer>1000</integer>
		<key>ID</key>
		<string>com.istratehoratiu.missileevasion.missile3</string>
		<key>title</key>
		<string></string>
		<key>thumbnailImage</key>
		<string>missile3.png</string>
		<key>price</key>
		<string>0</string>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
</dict>
</plist>
