<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>Title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>spark.png</string>
		<key>price</key>
		<integer>100</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>1</key>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>Title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>spark.png</string>
		<key>price</key>
		<integer>200</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>Title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>spark.png</string>
		<key>price</key>
		<integer>300</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>3</key>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>Title</key>
		<string>Title</string>
		<key>thumbnailImage</key>
		<string>PLANE 1 N.png</string>
		<key>price</key>
		<integer>400</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
</dict>
</plist>
