<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>straightFlyImage</key>
		<string>plane_1_N.png</string>
		<key>leftFlyImage</key>
		<string>plane_1_N.png</string>
		<key>rightFlyImage</key>
		<string>plane_1_N.png</string>
		<key>ID</key>
		<integer>0</integer>
		<key>title</key>
		<string>Albatros</string>
		<key>thumbnailImage</key>
		<string>plane_1_N.png</string>
		<key>price</key>
		<integer>0</integer>
		<key>isBought</key>
		<true/>
		<key>isUsed</key>
		<true/>
	</dict>
	<key>1</key>
	<dict>
		<key>straightFlyImage</key>
		<string>plane_2_N.png</string>
		<key>leftFlyImage</key>
		<string>plane_2_N.png</string>
		<key>rightFlyImage</key>
		<string>plane_2_N.png</string>
		<key>ID</key>
		<integer>1</integer>
		<key>title</key>
		<string>Sptifire</string>
		<key>thumbnailImage</key>
		<string>plane_2_N.png</string>
		<key>price</key>
		<integer>200</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>straightFlyImage</key>
		<string>plane_3_N.png</string>
		<key>leftFlyImage</key>
		<string>plane_3_L.png</string>
		<key>rightFlyImage</key>
		<string>plane_3_R.png</string>
		<key>ID</key>
		<integer>2</integer>
		<key>title</key>
		<string>F 22</string>
		<key>thumbnailImage</key>
		<string>plane_3_N.png</string>
		<key>price</key>
		<integer>400</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
</dict>
</plist>
