<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>value</key>
		<integer>200</integer>
		<key>ID</key>
		<integer>0</integer>
		<key>Title</key>
		<string>100</string>
		<key>thumbnailImage</key>
		<string>missile.png</string>
		<key>price</key>
		<integer>100</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>1</key>
	<dict>
		<key>value</key>
		<string>100000</string>
		<key>ID</key>
		<integer>1</integer>
		<key>Title</key>
		<string>200</string>
		<key>thumbnailImage</key>
		<string>missile2.png</string>
		<key>price</key>
		<integer>200</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>value</key>
		<string>1000</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Title</key>
		<string>300</string>
		<key>thumbnailImage</key>
		<string>missile3.png</string>
		<key>price</key>
		<integer>300</integer>
		<key>isBought</key>
		<false/>
		<key>isUsed</key>
		<false/>
	</dict>
</dict>
</plist>
